<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <a href="#" class="subnav-toggle">(Expand/collapse all)</a>
            <ul class="nav docs-sidenav">
                <li>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li>
                    <a href="/docs/providers/kafka/index.html">Kafka Provider</a>
                </li>
                <li>
                    <a href="#">Provider Resources</a>
                    <ul class="nav">
                        <li>
                            <a href="/docs/providers/kafka/r/acl.html">kafka_acl</a>
                        </li>
                        <li>
                            <a href="/docs/providers/kafka/r/topic.html">kafka_topic</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>
    <%= yield %>
<% end %>
