name: test

on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
      - run: make test

  #lint:
    #runs-on: ubuntu-latest
    #steps:
      #- uses: actions/checkout@v4
      #- uses: bflad/tfproviderlint-github-action@master
        #with:
          #args: ./...

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
      - uses: actions/checkout@v4
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with: 
          args: --timeout=3m


  acctest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.20.x
      - uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Bring up kafka + zk
        uses: JarvusInnovations/background-action@v1
        with:
          run: docker compose up &
          wait-on: |
            tcp:localhost:9092
          tail: true
          log-output-if: true

      - name: "Run tests"
        run: sleep 10 && make testacc
